<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
  <title>{{site_name}}</title>
  <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" />
	<!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
  <div id="container">
    <div id="header">
      <h1><a href="{{site_url}}">{{site_name}}</a></h1>
    </div>

    <div id="content">
      {{& content}}
    </div>

    <div id="footer" class="meta">
      Powered by <a href="http://gitwrite.com" class="image-link"><img src="/images/logo.png" width="100"/></a> &#182; Theme inspired by <a href="http://www.tumblr.com/theme/325">langer</a>
    </div>
  </div>
</body>
</html>
