## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## PROJECT::GENERAL
coverage
rdoc
pkg
.bundle
.sass-cache

## PROJECT::SPECIFIC
test/fixtures/generated
sample_site/generated
test/integration_site/generated